extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Max Payne

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.
        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I'm already working as a DEV currently but I was only doing the backend part and didn't really know that much about JavaScript and the frontend part in general.
            | So I thought, what the heck, I like learning and this tech degree seemed like a good fit. 
            | And I have to say, I really like it and love learning all these new things. So if you're looking for a motivated and engaged dev, I'm your guy!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li JavaScript
          li HTML
          li CSS
          li Async Programming
          li npm
          li HTTP
          li Object-Oriented Programming
          li jQuery
          li Git
        h6 Contact Info

        //- Add your own contact info
        ul
          li maxpergl@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/maximilianpergl/') LinkedIn
        a.button.expanded(href='https://github.com/MaxPayne89') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  